arcade==2.4.3
astroid==2.4.2
attrs==20.2.0
autopep8==1.5.4
cffi==1.14.3
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.3
Pillow==8.0.1
pycodestyle==2.6.0
pycparser==2.20
pyglet==1.5.8
pylint==2.6.0
pymunk==5.7.0
pytiled-parser==0.9.4a3
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
wrapt==1.12.1
